APP_NAME=PlannerBot
APP_PORT=3000
CRON=30 3 * * 1-5

CALDAV_TEST_URL=
CALDAV_URL=
CALDAV_USERNAME=
CALDAV_PASSWORD=
CALDAV_TIME_FORMAT=YYYYMMDDTHHmms

SLACK_CHANNEL=
SLACK_USERNAME=PlannerBot
SLACK_EMOJI=:spiral_calendar_pad:
SLACK_WEBHOOK=
SLACK_EVENT_COLOR=#9D698C
SLACK_BOT_TOKEN=

ALCHEMY_API_KEY=
